
.carousel-inner {
  padding: 1em !important;
}

.cardList {
  margin: 1em 1em !important;
  box-shadow: 2px 6px 8px 0 rgba(151, 196, 217, 0.18) !important;
}

.card {
  margin: 0 1em !important;
  box-shadow: 2px 6px 8px 0 rgba(151, 196, 217, 0.18) !important;
  border: solid rgba(50, 113, 158, 0.18) !important;
}
.card-body {
  padding: 0 0.5em !important;
  text-align: center !important;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #c6e4f3 !important;
  width: 6vh !important;
  height: 6vh !important;
  border-radius: 50% !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0 !important;
    flex: 0 0 20% !important;
    display: block !important;
  }
  .carousel-inner {
    display: flex !important;
  }
}
.card .img-wrapper {
    height: 7em !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.btn-filter {
  text-align: left !important;
}
.card img {
    max-width: 100% !important;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 7em !important;
  }
}
