{% extends "layouts/base.html" %}

{% block title %} Rental Cars {% endblock %} 
{% block extraheader %}
<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval'  *.accessdevelopment.com  *.adcrws.com *.mapbox.com  *.googletagmanager.com translation.googleapis.com cdn.heapanalytics.com heapanalytics.com *.auryc.com *.visualwebsiteoptimizer.com app.vwo.com js.stripe.com core.spreedly.com qqc-api.worldnomads.com *.smartlook.com *.smartlook.cloud *.braintreegateway.com *.braintree-api.com " />
<meta http-equiv="Content-Security-Policy" content="frame-src 'self' 'unsafe-inline' 'unsafe-eval' *.accessdevelopment.com  *.adcrws.com *.mapbox.com *.googletagmanager.com translation.googleapis.com cdn.heapanalytics.com heapanalytics.com *.auryc.com *.visualwebsiteoptimizer.com app.vwo.com js.stripe.com core.spreedly.com qqc-api.worldnomads.com *.smartlook.com *.smartlook.cloud *.braintreegateway.com *.braintree-api.com " />
<meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self' 'unsafe-inline' 'unsafe-eval' *.accessdevelopment.com  *.adcrws.com *.mapbox.com *.googletagmanager.com translation.googleapis.com cdn.heapanalytics.com heapanalytics.com *.auryc.com *.visualwebsiteoptimizer.com app.vwo.com js.stripe.com core.spreedly.com qqc-api.worldnomads.com *.smartlook.com *.smartlook.cloud *.braintreegateway.com *.braintree-api.com " />
<script src="https://booking.accessdevelopment.com/scripts/travel.client.v2.js"></script>
{% endblock extraheader %}


<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

<!-- [ Main Content ] start -->
<div id="divAccess">
    <!-- [ working-page ] start -->
    <!-- [ working-page ] end -->
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extra_js %}
<script>
  travelClient.start({
    session_token: "{{ session }}",
    container: "#divAccess",
    width: "100%",
    height: "fit",
    languge: "en",
    navigate_to: {
      view: "cars",
      start_tab: "cars",
    },
  });
</script>
{% endblock extra_js %}
 