{% extends 'layouts/base.html' %}
{% load static humanize custom_filters %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="row">
		<!-- [ Transactions chart ] starts -->
		<div class="col-md-12 col-xl-4">
			<div class="card">
				<div class="card-header">
					<h3>Register Users</h3>
					<div class="card-header-right">
						<h2 class="f-w-300 mb-0 float-end">{{ total_users|intcomma }}</h2>
					</div>
				</div>
				<div class="card-block">
					<div class="row align-items-center justify-content-center">
						<div class="col-9">
							<div id="chart_register_user" class="float-left" style="height:90px;width:80px;margin:0 auto;">
							</div>
						</div>
						<div class="col-3">
							<span class="f-w-300 mb-0 float-end">{{ first_joined|date:"M y" }} - {{ latest_joined|date:"M y" }}</span>
						</div>
					</div>
				</div>
				<div class="card-block text-center">
					<div class="row card-active">
						<div class="col-md-4 col-6">
							<h4>{{ users_joined_this_month|intcomma }}</h4>
							<span class="text-muted">This Month</span>
						</div>
						<div class="col-md-4 col-6">
							<h4>{{ users_joined_this_week|intcomma }}</h4>
							<span class="text-muted">This Week</span>
						</div>
						<div class="col-md-4 col-12">
							<h4>{{ users_joined_today|intcomma }}</h4>
							<span class="text-muted">Today</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ Transactions chart ] end -->


		<!-- [ visitor section ] start -->
		<div class="col-md-12 col-xl-4">
			<div class="card theme-bg visitor">
				<div class="card-block text-center">
					<img class="img-female" src="{% static 'assets/images/user/user-1.png' %}" alt="Today Clicks">
					<h5 class="text-white m-0">TODAY CLICKS</h5>
					<h3 class="text-white m-t-20 f-w-300">{{ today_tx_total|intcomma }}</h3>
					<span class="text-white">
						{% if today_delta == 0 %}
							Same clicks with yesterday
						{% elif today_delta > 0 %}
							{{ today_delta|intcomma }} clicks less than yesterday
						{% else %}
							{{ today_delta|abs|intcomma }} clicks more than yesterday
						{% endif %}
					</span>
					<img class="img-men" src="{% static 'assets/images/user/user-2.png' %}" alt="Today Clicks">
				</div>
			</div>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col">
							<i class="feather icon-shopping-cart f-30 text-c-green"></i>
							<h6 class="m-t-50 m-b-0">Same day Last week’s Click</h6>
						</div>
						<div class="col text-end">
							<h3 class="text-c-green f-w-300">{{ yesterday_tx_total|intcomma }}</h3>
							<span class="text-muted d-block">Yesterday Clicks</span>
							<span class="badge theme-bg text-white m-t-20">{{ samedaylastweek_tx_total|intcomma }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ visitor section ] end -->

		<!-- [Active-visitor section] start -->
		<div class="col-md-6 col-xl-4">
			<div class="card Active-visitor">
				<div class="card-block text-center">
					<h5 class="mb-3">Active Visitor</h5>
					<i class="fas fa-user-friends f-30 text-c-green"></i>
					<h2 class="f-w-300 mt-3">{{ device_today_total|intcomma }}</h2>
					<span class="text-muted">Active Visit On Sites Today</span>
					<div class="progress mt-4 m-b-40">
						<div class="progress-bar progress-c-theme" role="progressbar" style="width: 75%; height:7px;"
							aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="row card-active">
						<div class="col-md-4 col-6">
							<h4>{{ device_today_desktop|intcomma }}</h4>
							<span class="text-muted">Desktop</span>
						</div>
						<div class="col-md-4 col-6">
							<h4>{{ device_today_mobile|intcomma }}</h4>
							<span class="text-muted">Mobile</span>
						</div>
						<div class="col-md-4 col-12">
							<h4>{{ device_today_tablet|intcomma }}</h4>
							<span class="text-muted">Tablet</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [Active-visitor section] end -->

		<!-- [ Clicks Statistic ] start -->
		<div class="col-xl-12">
			<div class="card">
				<div class="card-header">
					<h5>Clicks Statistic</h5>
				</div>
				<div class="card-block">
					<div id="chart-highchart-clicks" style="width: 100%; height: 350px;"></div>
				</div>
			</div>
		</div>
		<!-- [ Clicks Statistic ] end -->


	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

{% block extra_js %}
	<!-- highchart chart -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>

	<!-- apexcharts js -->
	<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
	<script>
	// [ chart_register_users ] start
	(function () {
		var options = {
			chart: {
				type: 'bar',
				height: 100,
				sparkline: {
					enabled: true
				}
			},
			dataLabels: {
				enabled: false
			},
			colors: ["#1dc4e9"],
			plotOptions: {
				bar: {
					columnWidth: '60%'
				}
			},
			series: [{
				data: [{% for entry in user_counts %}{{ entry.count|intcomma }},{% endfor %}]
			}],
			xaxis: {
				crosshairs: {
					width: 1
				},
				categories: [{% for entry in user_counts %}'{{ entry.date|date:"M y" }}',{% endfor %}]
			},
			tooltip: {
				fixed: {
					enabled: false
				},
				x: {
					show: true
				},
				y: {
					title: {
						formatter: function (seriesName) {
							return '  '
						}
					}
				},
				marker: {
					show: false
				}
			}
		};
		var chart = new ApexCharts(document.querySelector("#chart_register_user"), options);
		chart.render();
	})();
	// [ chart_register_user ] end

	// [ line-basic-chart ] Start
	Highcharts.chart('chart-highchart-clicks', {
        chart: {
            type: 'spline',
        },
        colors: ['#5ce24e', '#9b1fc9', '#916a39','#2672cf', '#d0bf33', '#aec47e','#6a2540', '#af45b5', '#9aab02','#7ad224', '#c075c4', '#07c574','#410883', '#dca97f', '#172414','#610da4', '#c0eb9b', '#d8bc62','#271d76', '#26049a', '#1a03f9','#51e907', '#d18a5a', '#200268','#c0b231', '#487296', '#a29325','#eb6bf1', '#fbcdd2', '#4977bd'],
        title: {
            text: 'Clicks Statistic for Each Supplier'
        },
        subtitle: {
            text: '15 Days ({{ start_date }} - {{ end_date }})'
        },
        xAxis: {
			type: 'datetime',
			labels: {
    			format: '{value:%Y-%m-%d}',
  			}
       },
        yAxis: {
            title: {
                text: 'Number of Clicks'
            }
        },
        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: new Date('{{ start_date }}').getTime(),
				pointIntervalUnit: "day",
				pointInterval: 1,
				tooltip: {
					xDateFormat: '%A %b %d, %Y',
					shared: true
				}
            }
        },
        series: {{ click_data|safe }},
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
    // [ line-basic-chart ] end

	</script>
	
{% endblock extra_js %}