{% extends "layouts/base.html" %}

{% block title %} Hotels {% endblock %} 
{% block extraheader %}
{% endblock extraheader %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

<!-- [ Main Content ] start -->
<div id="divAccess">
    <!-- [ working-page ] start -->
    <iframe style="width: 100%; height: 100%; min-height: 100vh;" id="frame" src="https://sp.booking.com/gating/authkey?key=ARflaYL1q5&aid=1926534;label={{ usr }}" scrolling="yes"></iframe>
    <!-- [ working-page ] end -->
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extra_js %}
{% endblock extra_js %}
 