{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="row">
    <!-- [ Recommended Applications ] start -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Recommended Applications</h5>
                <span class="d-block m-t-5">Click to open <code>application</code>, you may need to
                    <code>change package plan</code>
                    to be able to select some applications</span>
            </div>
            <div class="card-body row">

				<!-- First card -->
                <div class="col-xl-2 col-md-6">
					<div class="card user-card user-card-3 support-bar1 theme-bg">
						<div class="card-body ">
							<div class="text-center"><br>
								<img class="img-fluid wid-150 "
									src="{% static 'assets/images/product/smartfares.svg' %}" alt="Smartfares">
								<h3 class="mb-1 mt-3 f-w-400">Smartfares</h3>
								<p class="card-text">SmartFares is a travel reservation service that specializes in providing consumers with the best fares available in the marketplace</p>
								<p class="mb-3 text-muted"><a href="/flight-smartfares/"><button type="button" class="btn  btn-warning"><i class="feather icon-link"></i>
									Open</button></a></p>
							</div>
						</div>
					</div>
                </div>

                <!-- Second card -->
                <div class="col-xl-2 col-md-6">
                    <div class="card user-card user-card-3 support-bar1 theme-bg2">
						<div class="card-body ">
							<div class="text-center">
								<img class="img-fluid wid-150 "
									src="{% static 'assets/images/product/ticket.png' %}" alt="Time for Tickets">
								<h3 class="mb-1 mt-3 f-w-400">Time for Tickets</h3>
								<p class="card-text">One of the most reliable sites in the industry, with no fees, lower prices, and verified high-quality sellers.</p>
								{% if request.user.userprofile.subscribed_package %}
								<a href="/ticket-timefortickets/"><button type="button" class="btn  btn-warning"><i class="feather icon-link"></i>
									Open</button></a>
								{% else %}
									<p class="mb-3 text-muted">You do not currently meet the eligibility criteria for accessing this application. Kindly consider subscribing to proceed."</p>
								{% endif %}
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Recommended Applications ] end -->
</div>
<!-- [ Main Content ] end -->


{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}