{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="row">


	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

{% block extra_js %}
<!-- apexcharts js -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jsvectormap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/world.js' %}"></script>
<!-- dashboard-custom js -->
<script src="{% static 'assets/js/pages/dashboard-custom.js' %}"></script>
{% endblock extra_js %}