{% extends 'layouts/base.html' %}
{% load static %}


<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

<!-- [ Main Content ] start -->
<div>
    <!-- [ working-page ] start -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Recommended Applications</h5>
                <span class="d-block m-t-5">Click to open <code>application</code>, you may need to
                    <code>change package plan</code>
                    to be able to select some applications</span>
            </div>
            <div class="card-body row">

				<!-- Smartfares card -->
                <div class="col-xl-2 col-md-6">
					<div class="card user-card user-card-3 support-bar1 theme-bg">
						<div class="card-body ">
							<div class="text-center"><br>
								<img class="img-fluid wid-150 "
									src="{% static 'assets/images/product/smartfares.svg' %}" alt="Smartfares">
								<h3 class="mb-1 mt-3 f-w-400">Smartfares</h3>
								<p class="card-text">SmartFares is a travel reservation service that specializes in providing consumers with the best fares available in the marketplace</p>
								<p class="mb-3 text-muted"><a href="/flight-vs/"><button type="button" class="btn  btn-warning"><i class="feather icon-link"></i>
									Open</button></a></p>
							</div>
						</div>
					</div>
                </div>

                <!-- TimetoTicket card -->
                <div class="col-xl-2 col-md-6">
                    <div class="card user-card user-card-3 support-bar1 theme-bg2">
						<div class="card-body ">
							<div class="text-center">
								<img class="img-fluid wid-150 "
									src="{% static 'assets/images/product/ticket.png' %}" alt="Time for Tickets">
								<h3 class="mb-1 mt-3 f-w-400">Time for Tickets</h3>
								<p class="card-text">One of the most reliable sites in the industry, with no fees, lower prices, and verified high-quality sellers.</p>
								{% if request.user.userprofile.subscribed_package %}
								<a href="/ticket-timefortickets/"><button type="button" class="btn  btn-warning"><i class="feather icon-link"></i>
									Open</button></a>
								{% else %}
									<p class="mb-3 text-muted">You do not currently meet the eligibility criteria for accessing this application. Kindly consider subscribing to proceed."</p>
								{% endif %}
							</div>
						</div>
                    </div>
                </div>

				<!-- Access Travel card -->
                <div class="col-xl-2 col-md-6">
                    <div class="card user-card user-card-3 support-bar1 theme-bg4">
						<div class="card-body ">
							<div class="text-center">
								<img class="img-fluid wid-150 "
									src="{% static 'assets/images/product/logo.png' %}" alt="Access Travel">
								<h3 class="mb-1 mt-3 f-w-400">Travel</h3>
								<p class="card-text">Travel Deals</p>
								{% if request.user.userprofile.subscribed_package %}
								<a href="/access-travel/"><button type="button" class="btn  btn-warning"><i class="feather icon-link"></i>
									Open</button></a>
								{% else %}
									<p class="mb-3 text-muted">You do not currently meet the eligibility criteria for accessing this application. Kindly consider subscribing to proceed."</p>
								{% endif %}
							</div>
						</div>
                    </div>
                </div>            

				<!-- Access Deal card -->
                <div class="col-xl-2 col-md-6">
                    <div class="card user-card user-card-3 support-bar1 theme-bg3">
						<div class="card-body ">
							<div class="text-center">
								<img class="img-fluid wid-150 "
									src="{% static 'assets/images/product/logo.png' %}" alt="Time for Tickets">
								<h3 class="mb-1 mt-3 f-w-400">Eat, Play, Shop</h3>
								<p class="card-text">Eat, Play, Shop.</p>
								{% if request.user.userprofile.subscribed_package %}
								<a href="/access-deals/"><button type="button" class="btn  btn-warning"><i class="feather icon-link"></i>
									Open</button></a>
								{% else %}
									<p class="mb-3 text-muted">You do not currently meet the eligibility criteria for accessing this application. Kindly consider subscribing to proceed."</p>
								{% endif %}
							</div>
						</div>
                    </div>
                </div>            

				<!-- TourRadar card -->
                <div class="col-xl-2 col-md-6">
                    <div class="card user-card user-card-3 support-bar1 theme-bg">
						<div class="card-body ">
							<div class="text-center">
								<img class="img-fluid wid-150 "
									src="{% static 'assets/images/product/logo.png' %}" alt="TourRadar">
								<h3 class="mb-1 mt-3 f-w-400">TourRadar</h3>
								<p class="card-text">Tours</p>
								{% if request.user.userprofile.subscribed_package %}
								<a href="/tour-radar/"><button type="button" class="btn  btn-warning"><i class="feather icon-link"></i>
									Open</button></a>
								{% else %}
									<p class="mb-3 text-muted">You do not currently meet the eligibility criteria for accessing this application. Kindly consider subscribing to proceed."</p>
								{% endif %}
							</div>
						</div>
                    </div>
                </div>            
			
				
			</div>
        </div>
    </div>

    <!-- [ working-page ] end -->
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
 