{% extends 'layouts/base.html' %}
{% load static %}
{% block extrastyle %}
	<link rel="stylesheet" href="{% static 'assets/css/multi-item-carousel.css' %}">
{% endblock extrastyle %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="cardList">
	<div class="card-header">
		<h5>Top Offers</h5>
	</div>
	<div class="card-body">
		<!-- [ Recommended Applications ] start -->
		<div id="carouselControls" class="carousel">
			<div class="carousel-inner">
				<div class="carousel-item">
					{% include 'pages/products/card-gtn.html' %}
				</div>
				<div class="carousel-item active">
					{% include 'pages/products/card-flights-vs.html' %}
				</div>
				<div class="carousel-item">
					{% include 'pages/products/card-time-for-tickets.html' %}
				</div>
				<div class="carousel-item">
					{% include 'pages/products/card-travel-access.html' %}
				</div>
			</div>

			<!-- [ LEFT + RIGHT buttons ] -->
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
			<!-- [ LEFT + RIGHT buttons ] end-->

		</div>

	</div>
</div>
<div class="cardList">
	<div class="card-header">
		<h5>Offers by Category</h5>
	</div>
	<div class="card-body border-bottom">
		<div id="filters" class="btn-filter">
			<button class="btn my-1 btn-sm btn-outline-secondary active" data-filter="*">Show all</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".Vacation-Rentals">Vacation Rentals</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".Flights">Flights</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".Tickets">Tickets</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".Tours">Tours</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".Hotels">Hotels</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".Cars">Cars</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".Cruises">Cruises</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".Transfers">Transfers</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".Activities">Activities</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".Retail">Retail</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".Rails">Rails</button>
			<button class="btn my-1 btn-sm btn-outline-secondary" data-filter=".All-In-1">All-In-1</button>
		</div>
	</div>
	<div class="card-body">
		<div class="grid row" style="position: relative; height: 820px;">
			<div class="col-xl-2 col-md-4 col-sm-6 element-item Vacation-Rentals">
				{% include 'pages/products/card-gtn.html' %}
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 element-item Flights">
				{% include 'pages/products/card-flights-vs.html' %}
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 element-item Tickets">
				{% include 'pages/products/card-time-for-tickets.html' %}
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 element-item All-In-1 Activities">
				{% include 'pages/products/card-travel-access.html' %}
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 element-item Cruises">
				{% include 'pages/products/card-cruises-arrivia.html' %}
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 element-item Tours">
				{% include 'pages/products/card-tours-radar.html' %}
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 element-item Cars">
				{% include 'pages/products/card-cars-access.html' %}
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 element-item Hotels">
				{% include 'pages/products/card-hotels-access.html' %}
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 element-item Retail All-In-1">
				{% include 'pages/products/card-retails-access.html' %}
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 element-item Tours All-In-1">
				{% include 'pages/products/card-tours-worldia.html' %}
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 element-item Vacation-Rentals Hotels">
				{% include 'pages/products/card-hotels-booking.html' %}
			</div>
		</div>
	</div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}

{% block extra_js %}
<script
	src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	crossorigin="anonymous"></script>
<script 
	src="{% static 'assets/js/multi-item-carousel.js' %}"></script>

<script src="{% static 'assets/js/plugins/isotope.pkgd.min.js' %}"></script>
<script>
	(function () {
		var grid = new Isotope('.grid', {
			itemSelector: '.element-item',
			layoutMode: 'fitRows'
		});
		var filterFns = {
			numberGreaterThan50: function (itemElem) {
				var number = itemElem.querySelector('.number').textContent;
				return parseInt(number, 10) > 50;
			},
			ium: function (itemElem) {
				var name = itemElem.querySelector('.name').textContent;
				return name.match(/ium$/);
			}
		};

		var tc = document.querySelectorAll("#filters button");
		for (var t = 0; t < tc.length; t++) {
			var c = tc[t];
			c.addEventListener("click", function (event) {
				event.stopPropagation();
				var targetElement = event.target;
				var filterValue = targetElement.getAttribute('data-filter');

				filterValue = filterFns[filterValue] || filterValue;
				grid.arrange({
					filter: filterValue
				});
			});
		}

		var buttonGroups = document.querySelectorAll('.btn-filter');
		for (var i = 0, len = buttonGroups.length; i < len; i++) {
			var buttonGroup = buttonGroups[i];
			console.log(i);
			radioButtonGroup(buttonGroup);
		}

		function radioButtonGroup(buttonGroup) {
			buttonGroup.addEventListener('click', function (event) {
				buttonGroup.querySelector('.active').classList.remove('active');
				event.target.classList.add('active');
			});
		}
	})();
	(function () {
		var grid = new Isotope('.grid-masonry', {
			itemSelector: '.masonry-item',
			masonry: {
				columnWidth: 1
			}
		});
	})();
</script>

{% endblock extra_js %}