{% load i18n static admin_datta %}

  <div class="navbar-content scroll-div ">
    <ul class="nav pcoded-inner-navbar ">
      <li class="nav-item pcoded-menu-caption">
        <label>Navigation</label>
      </li>
      <li data-username="Vacation Rental" class="nav-item" >
        <a href="/" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-chalkboard-teacher"></i>
          </span>
          <span class="pcoded-mtext">Dashboard</span>
        </a>
      </li>
  {% if not request.user.is_superuser %} 
    {% if request.user.userprofile.subscribed_package %}
     <li class="nav-item pcoded-menu-caption">
        <label>Travel</label>
      </li>
      <li data-username="Vacation Rental" class="nav-item" >
        <a href="" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-couch"></i>
          </span>
          <span class="pcoded-mtext">Vacation Rentals</span>
        </a>
      </li>
      <li data-username="Flight Smartfares" class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-plane"></i>
          </span>
          <span class="pcoded-mtext">Flights</span>
        </a>
        <ul class="pcoded-submenu">
          <li><a href="/flight-vs/">Flights by VacationSavers</a></li>
        </ul>
      </li>
      <li data-username="Tickets timefortickets" class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-ticket-alt"></i>
          </span>
          <span class="pcoded-mtext">Tickets</span>
        </a>
        <ul class="pcoded-submenu">
            <li><a href="/ticket-timefortickets/">Time for Tickets</a></li>
        </ul>
      </li>
      <li data-username="Tour TourRadar" class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-suitcase"></i>
          </span>
          <span class="pcoded-mtext">Tours</span>
        </a>
        <ul class="pcoded-submenu">
          <li><a href="/tour-radar/">TourRadar</a></li>
        </ul>
      </li>
      <li data-username="Hotels Bookings AirBnB VacationRentals" class="nav-item">
        <a href="" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-bed"></i>
          </span>
          <span class="pcoded-mtext">Hotels</span>
        </a>
      </li>
      <li data-username="Cars Rental" class="nav-item">
        <a href="" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-car"></i>
          </span>
          <span class="pcoded-mtext">Cars</span>
        </a>
      </li>
      <li data-username="Cruises Cruise" class="nav-item">
        <a href="" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-ship"></i>
          </span>
          <span class="pcoded-mtext">Cruises</span>
        </a>
      </li>
      <li data-username="Transportations Transfer" class="nav-item">
        <a href="" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-shipping-fast"></i>
          </span>
          <span class="pcoded-mtext">Transfers</span>
        </a>
      </li>
      <li data-username="Activities Activity" class="nav-item">
        <a href="" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-helicopter"></i>
          </span>
          <span class="pcoded-mtext">Activities</span>
        </a>
      </li>
      <li data-username="Retails Retail" class="nav-item">
        <a href="" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-shopping-bag"></i>
          </span>
          <span class="pcoded-mtext">Retail</span>
        </a>
      </li>
      <li data-username="All-in-1 All-in-One Access Travel Deals" class="nav-item pcoded-hasmenu">
        <a href="" class="nav-link">
          <span class="pcoded-micon">
            <i class="fab fa-fort-awesome"></i>
          </span>
          <span class="pcoded-mtext">All-in-1</span>
        </a>
        <ul class="pcoded-submenu">
          <li><a href="/access-travel/">Travel  Deals</a></li>
          <li><a href="/access-deals/">Eat, Play, Shop</a></li>
        </ul>
      </li>
      {% else %}
      <li class="nav-item pcoded-menu-caption">
        <label>Travel</label>
      </li>
      <li data-username="Vacation Rental" class="nav-item disabled" >
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-couch"></i>
          </span>
          <span class="pcoded-mtext">Vacation Rentals</span>
        </a>
      </li>
      <li data-username="Flight Smartfares" class="nav-item pcoded-hasmenu">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-plane"></i>
          </span>
          <span class="pcoded-mtext">Flights</span>
        </a>
        <ul class="pcoded-submenu">
          <li><a href="/flight-vs/">Smartfares</a></li>
        </ul>
      </li>
      <li data-username="Tickets timefortickets" class="nav-item disabled">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-ticket-alt"></i>
          </span>
          <span class="pcoded-mtext">Tickets</span>
        </a>
      </li>
      <li data-username="Tour TourRadar" class="nav-item disabled">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-suitcase"></i>
          </span>
          <span class="pcoded-mtext">Tours</span>
        </a>
       </li>
      <li data-username="Hotels Bookings AirBnB VacationRentals" class="nav-item disabled">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-bed"></i>
          </span>
          <span class="pcoded-mtext">Hotels</span>
        </a>
      </li>
      <li data-username="Cars Rental" class="nav-item disabled">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-car"></i>
          </span>
          <span class="pcoded-mtext">Cars</span>
        </a>
      </li>
      <li data-username="Cruises Cruise" class="nav-item disabled">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-ship"></i>
          </span>
          <span class="pcoded-mtext">Cruises</span>
        </a>
      </li>
      <li data-username="Transportations Transfer" class="nav-item disabled">
        <a href="/" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-shipping-fast"></i>
          </span>
          <span class="pcoded-mtext">Transfers</span>
        </a>
      </li>
      <li data-username="Activities Activity" class="nav-item disabled">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-helicopter"></i>
          </span>
          <span class="pcoded-mtext">Activities</span>
        </a>
      </li>
      <li data-username="Retails Retail" class="nav-item disabled">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fas fa-shopping-bag"></i>
          </span>
          <span class="pcoded-mtext">Retail</span>
        </a>
      </li>
      <li data-username="All-in-1 All-in-One" class="nav-item disabled">
        <a href="#" class="nav-link">
          <span class="pcoded-micon">
            <i class="fab fa-fort-awesome"></i>
          </span>
          <span class="pcoded-mtext">All-in-1</span>
        </a>
      </li>
    {% endif %}
  
  {% else %}
    {% admin_get_menu as app_list %}
    {% for app in app_list %}
        {% if app.has_perms and not app.pinned %}
          <li class="nav-item pcoded-hasmenu">
            <a  href="#" class="nav-link">
              <span class="pcoded-micon"><i class="{% if app.icon %} {{ app.icon }} {% else %} feather icon-settingsß {% endif %}"></i></span>
              <span class="pcoded-mtext">{{ app.label|slice:15 }}{% if app.label|length > 15 %}..{% endif %}</span>
            </a>
            {% if app.models %}
              <ul class="pcoded-submenu">
                {% for model in app.models %}
                  {% if model.url %}
                    <li>
                      <a href="{{ model.url }}">{{ model.label }}</a>
                    </li>
                  {% else %}
                    <li class="nav-item list-unstyled">{{ model.label }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
    {% endfor %}
{% endif %}
<!--
      <li class="nav-item pcoded-menu-caption">
        <label>Resources</label>
      </li>
      <li data-username="Need Support" class="nav-item">
        <a href="" class="nav-link" target="_blank">
          <span class="pcoded-micon">
            <i class="feather icon-download"></i>
          </span>
          <span class="pcoded-mtext">Download</span></a>
      </li>    
      <li data-username="Need Support" class="nav-item">
        <a href="" class="nav-link" target="_blank">
          <span class="pcoded-micon">
            <i class="feather icon-help-circle"></i>
          </span>
          <span class="pcoded-mtext">Support</span></a>
      </li>  
-->
    </ul>
  </div>