{% load static %}


<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light ">

    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
        <a href="/" class="b-brand">
            <img alt="VacationSavers.com" style="text-align: left important;" src="{% static 'assets/images/logo-small.png' %}"></img>
        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="#!">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li><a href="#!" class="full-screen" onclick="javascript:toggleFullScreen()"><i
                        class="feather icon-maximize"></i></a></li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">Quick Links</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/vacation-rentals-gtn/">Vacation Rentals</a></li>
                    <li><a class="dropdown-item" href="/flight-vs/">Flights</a></li>
                    <li><a class="dropdown-item" href="/ticket-timefortickets/">Tickets</a></li>
                    <li><a class="dropdown-item" href="/access-travel/">Travel Deals</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <div class="main-search">
                    <div class="input-group">
            <!--
                        <input type="text" id="m-search" class="form-control" placeholder="Search . . .">
                        <a href="#!" class="input-group-append search-close">
                            <i class="feather icon-x input-group-text"></i>
                        </a>
                        <span class="input-group-append search-btn btn btn-primary">
                            <i class="feather icon-search input-group-text"></i>
                        </span>
            -->
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li>
                <img class="header-badge" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Discover the world with VacationSavers - where your dream journey meets unmatched affordability and your dollars go further. Dive into our handpicked marketplace, brimming with exceptional travel deals exclusive to our members. With access to special unpublished rates, private fares, and members-only offers, we bring you savings unseen elsewhere. Our longstanding partnerships, cultivated over years, unlock extraordinary travel bargains that transform the way you experience luxury and adventure. Start comparing the industry's best deals now. Your next unforgettable trip is just a click away, promising luxury and exploration at prices beyond your wildest dreams." src="{% static 'assets/images/header_badge3.png' %}">
            </li>
            <li>
                <div class="dropdown drp-user">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="icon feather icon-settings"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end profile-notification">
                        <div class="pro-head">
                            <img src="{% if request.user.userprofile.image_file %}{{ request.user.userprofile.image_file.url }}{% else %}
                                          {% static 'assets/images/user/avatar-5.jpg' %}
                                          {% endif %}" class="img-radius hei-40" alt="User-Profile-Image">
                            <span>
                                {{ request.user.username }}
                            </span>
                            <a href="{% url 'logout' %}" class="dud-logout" title="Logout">
                                <i class="feather icon-log-out"></i>
                            </a>
                        </div>
                        <ul class="pro-body">
                            <li><a href="{% url 'user_profile' %} " class="dropdown-item"><i class="feather icon-user"></i>
                                    Profile</a></li>
                            <!--
                                    <li><a href="{% url 'change_plan' %} " class="dropdown-item"><i class="feather icon-monitor"></i>
                                    Change Plan</a></li>
                            -->
                                    <li><a href="{% url 'logout' %}" class="dropdown-item">
                                    <i class="feather icon-log-out"></i>LOGOUT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</header>
<!-- [ Header ] end -->