{% load static %}


<!-- [ Header ] start -->
<header class="navbar navbar-lg " style="min-height: 100px; padding-left: 10px;">
    <div class="m-header col-lg-8">
        <a href="/" class="b-brand">
            <img alt="VacationSavers.com" class="padding-330" src="{% static 'assets/images/logo-small.png' %}"></img>
        </a>
    </div>
    <div class="m-header col-lg-4">
        <div class="btn btn-outline-primary">
            <a href="/" class="me-0">Home</a>
        </div>
        <div class="btn btn-outline-primary">
            <a href="/accounts/login/" class="me-0">Login</a>
        </div>
        <div class="btn btn-outline-primary">
            <a href="/verify-code/" class="me-0">Sign up</a>
        </div>
    </div>
</header>
<!-- [ Header ] end -->