{% load static admin_datta %}

<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed">
  <div class="navbar-wrapper ">
		<div class="navbar-brand header-logo">
			<a href="/" class="b-brand">
				<div>
					<img alt="VacationSavers.com" style="width: 90%; text-align: left important;" src="{% static 'assets/images/logo.png' %}"></img>
				</div>
			</a>
			<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
		</div>
    <div class="navbar-content scroll-div ">
      {% include 'includes/menu-list.html' %}
    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->