{% load static %}
<a class="alert" href="/retail/">
    <div class="card">
        <div class="img-wrapper" style="background-image: url({% static 'assets/icons/retails_access.png' %});height:180px;background-position:50%; background-repeat: no-repeat;overflow:hidden;"></div>
        <div class="card-body">
            <p class="card-title">Indulge in local <code>Dining</code>, <code>Activities</code>, and <code>Shopping</code> - exceptional experiences, unbeatable prices.</p>
        </div>
    </div>				
</a>
