{% load static %}
<a class="alert" href="/tour-getyourguide/">
    <div class="card">
        <div class="img-wrapper" style="background-image: url({% static 'assets/icons/tour_getyourguide.png' %});background-size:100% 100%;background-repeat:no-repeat;background-position: right bottom;"></div>
        <div class="card-body">
            <p class="card-title">Explore and Experience the Best: Dive into Mesmerizing <code>Tours</code> and Secure Your <code>Tickets</code> to Excitement, All at Prices That Make Adventure Accessible to Everyone.</p>
        </div>
    </div>				
</a>
