{% load static %}
<a class="alert" href="/transfer-talixo/" target="_blank">
    <div class="card">
        <div class="img-wrapper" style="background-image: url({% static 'assets/icons/transfer_talixo.png' %});background-size:100% 100%;background-repeat:no-repeat;background-position: right bottom;"></div>
        <div class="card-body">
            <p class="card-title">Book a safe and affordable <code>Transfer</code>. Save time and money with a safe and comfortable trip to your destination.</p>
        </div>
    </div>				
</a>
