{% load static %}
<a class="alert" href="/flight-vs/">
    <div class="card">
        <div class="img-wrapper" style="background-image: url({% static 'assets/icons/flights_vs_discount.png' %});background-size:100% 100%;background-repeat:no-repeat;background-position: right bottom;"></div>
        <div class="card-body">
            <p class="card-title">Find the best <code>Flight Deals</code> in one search, mixing Low Cost and Major Carriers for maximum savings.</code></p>
        </div>
    </div>				
</a>
