{% load static %}
<a class="alert" href="https://www.mywebrez.com/vacationsavers" target="_blank">
    <div class="card">
        <div class="img-wrapper" style="background-image: url({% static 'assets/icons/resorts_webrez.jpg' %});background-size:100% 100%;background-repeat:no-repeat;background-position: right bottom;"></div>
        <div class="card-body">
            <p class="card-title">Discover the best <code>Resort Deals</code> in one search, combining luxury and affordability for the ultimate getaway experience.</code></p>
        </div>
    </div>				
</a>
