{% load static %}
<a class="alert" href="/access-travel/">
    <div class="card">
        <div class="img-wrapper" style="background-image: url({% static 'assets/icons/vacations_access_discount.png' %});background-size:100% 100%;background-repeat:no-repeat;background-position: right bottom;"></div>
        <div class="card-body">
            <p class="card-title">Exclusive discounts at major <code>Theme Parks</code>. Effortlessly save on your next thrilling adventure.</p>
        </div>
    </div>				
</a>
