{% load static %}
<a class="alert" href="/retail/">
    <div class="card">
        <div class="img-wrapper"><img src="{% static 'assets/icons/retails_access.png' %}" class="d-block img-fluid" alt="Cars"></div>
        <div class="card-body">
            <p class="card-title"><code>Retail</code> Therapy Redefined: Discover unbeatable deals on a wide range of products. From the latest fashion to essential goods, our retail selection combines quality and affordability.</p>
        </div>
    </div>				
</a>
