{% load static %}
<a class="alert" href="/retail/">
    <div class="card">
        <div class="img-wrapper" style="background-image: url({% static 'assets/icons/retails_access.png' %});background-size:100% 100%;background-repeat:no-repeat;background-position: right bottom;"></div>
        <div class="card-body">
            <p class="card-title">Indulge in local <code>Dining</code>, <code>Activities</code>, and <code>Shopping</code> - exceptional experiences, unbeatable prices.</p>
        </div>
    </div>				
</a>
