{% load static %}
<a class="alert" href="/vacation-rentals-gtn/">
    <div class="card">
        <div class="img-wrapper" style="background-image: url({% static 'assets/icons/vacations_rental_discount.png' %});background-size:100% 100%;background-repeat:no-repeat;background-position: right bottom;"></div>
        <div class="card-body">
            <p class="card-title">Save big on your next <code>Vacation Rental</code> with rates 60% lower versus top brands.</p>
        </div>
    </div>				
</a>
