{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Rental Cars {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="auth-wrapper  bg-img-c">
<!-- [ Main Content ] start -->
    <div class="col-xl-4 col-md-6">
        <div class="card lazy-dog">
            <div class="card-header">
                <h4>Rental Cars </h4>
                <p>Explore more for less with our budget-friendly rental cars. Enjoy the freedom of the open road and the thrill of adventure, all at prices that make every journey more enjoyable.</p>
            </div>
            <div class="card-block">

            </div>
        </div>
    </div>
<!-- [ Main Content ] end -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
 