{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Retails {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="auth-wrapper  bg-img-rt">
<!-- [ Main Content ] start -->
    <div class="col-xl-4 col-md-6">
        <div class="card lazy-dog">
            <div class="card-header">
                <h4>Retails</h4>
                <p>Retail Therapy Redefined: Discover unbeatable deals on a wide range of products. From the latest fashion to essential goods, our retail selection combines quality and affordability, ensuring you shop smarter and save more.</p>
            </div>
            <div class="card-block">

            </div>
        </div>
    </div>
<!-- [ Main Content ] end -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
 