{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Vacation Rentals {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="auth-wrapper  bg-img-vr">
<!-- [ Main Content ] start -->
    <div class="col-xl-4 col-md-6">
        <div class="card lazy-dog">
            <div class="card-header">
                <h4>Vacation Rentals</h4>
                <p>Unlock incredible savings on your home away from home. Choose from a diverse selection of vacation homes, offering the comfort and privacy you desire at prices that can't be beaten.</p>
            </div>
            <div class="card-block">

            </div>
        </div>
    </div>
<!-- [ Main Content ] end -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
 