{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Activities {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="auth-wrapper  bg-img-act">
<!-- [ Main Content ] start -->
    <div class="col-xl-4 col-md-6">
        <div class="card lazy-dog">
            <div class="card-header">
                <h4> Activities </h4>
                <p>Experience the best activities at the best prices. From thrilling adventures to relaxing escapes, our selection offers the perfect way to enhance your travels without stretching your wallet.</p>
            </div>
            <div class="card-block">

            </div>
        </div>
    </div>
<!-- [ Main Content ] end -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
 