{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Transfers {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="auth-wrapper  bg-img-tr">
<!-- [ Main Content ] start -->
    <div class="col-xl-4 col-md-6">
        <div class="card lazy-dog">
            <div class="card-header">
                <h4>Transfers</h4>
                <p>Seamless Transfers, Exceptional Value: Navigate your travels with ease and affordability. Our transfer services connect you smoothly to your destinations, ensuring comfort and convenience at prices that keep your journey stress-free and budget-friendly.</p>
            </div>
            <div class="card-block">

            </div>
        </div>
    </div>
<!-- [ Main Content ] end -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
 