{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Rails {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="auth-wrapper  bg-img-rl">
<!-- [ Main Content ] start -->
    <div class="col-xl-4 col-md-6">
        <div class="card lazy-dog">
            <div class="card-header">
                <h4>Rails</h4>
                <p>Embark on scenic journeys at wallet-friendly prices with our rail travel deals. Traverse landscapes in comfort and style, from bustling cities to serene countrysides, all while enjoying the affordability and relaxation that rail travel offers. Connect to new places and experiences without the financial strain, making every mile on the tracks a value-packed adventure.</p>
            </div>
            <div class="card-block">

            </div>
        </div>
    </div>
<!-- [ Main Content ] end -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
 