{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Flights {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="auth-wrapper  bg-img-f">
<!-- [ Main Content ] start -->
    <div class="col-xl-4 col-md-6">
        <div class="card lazy-dog">
            <div class="card-header">
                <h4>Resorts</h4>
                <p>Soar to new heights with cost-effective flights. Experience the ease of travel with our competitively priced airfares, connecting you to your dream destinations without draining your budget. Discover the skies with affordability and convenience, taking you where you want to go at prices that keep your finances on solid ground.</p>
            </div>
            <div class="card-block">

            </div>
        </div>
    </div>
<!-- [ Main Content ] end -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
 