{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Tickets {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="auth-wrapper  bg-img-tk">
<!-- [ Main Content ] start -->
    <div class="col-xl-4 col-md-6">
        <div class="card lazy-dog">
            <div class="card-header">
                <h4>Tickets</h4>
                <p>Access top-tier entertainment without the top-tier costs. Enjoy exclusive deals on tickets for must-see shows, concerts, and cultural events, ensuring a memorable experience that’s also budget-friendly.</p>
            </div>
            <div class="card-block">

            </div>
        </div>
    </div>
<!-- [ Main Content ] end -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
 